body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    text-align: center;
}

.game_container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.timer {
    font-weight: bold;
}

.fail_ratio {
    font-size: 14px;
}

.displayed_word {
    margin: 5px 0 10px 0;
    font-size: 20px;
    letter-spacing: 4px;
}

.input_guess {
    width: 200px;
    margin: 5px 10px 10px 10px;
    padding: 2px;
}

.input_guess:focus {
    outline: none;
}

.btn_new_game {
    /* flex: auto; */
    border: none;
    padding: 5px 60px;
    background-color: #007BFF;
    color: white;
}

.btn_new_game:hover {
    background-color: #0056B3;
}

.guess_list {
    list-style-type: none;
}
